@charset "UTF-8";
/* --------------------------------- 202107 수정 :s --------------------------------------*/
/* 모바일 당첨내역보기 팝업 */
.winningForm {
  z-index: 99;
  width: 100%;
}
.winningForm .btn_area {
  margin-top: 10px;
}
.winningForm .txtInput_ln {
  border-bottom: 1px solid #ddd;
  display: block;
}
.winningForm .txtInput_ln input {
  width: 100%;
  border: 0;
  height: 38px;
  line-height: 38px;
  font-size: 13px;
  padding: 0 10px;
}
/* 모바일 참여하기 팝업 */
.popup_nh_wrap {
  width: 100% !important;
}
.popup_nh_wrap .popup_top .title {
  font-size: 16px;
}
/*진행중이벤트 뷰페이지*/
.event_view_con {
  text-align: center;
  padding: 0;
}
.event_view_con img {
  margin: 0;
  width: 100%;
}
.event-week {
  overflow: hidden;
  margin: 25px 0 25px 10px;
}

.event-week .event-week-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.event-week .owl-carousel .owl-stage {
  display: flex;
  margin-right: 30px;
}
.event-week .owl-carousel .owl-stage-outer {
  overflow: visible !important;
}
.event-week .owl-nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.event-week .owl-nav button {
  /* width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4) !important; */
}
.event-week .owl-nav button span {
  color: #fff;
  display: none;
}
.event-week .owl-nav button.owl-prev {
  left: 0;
  margin-right: auto;
  display: block;
  width: 30px;
  height: 30px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-image: url(../img/event/arrow-prev.png) !important;
}
.event-week .owl-nav button.owl-next {
  right: 0;
  margin-left: auto;
  margin-right: 10px;
  display: block;
  width: 30px;
  height: 30px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-image: url(../img/event/arrow-next.png) !important;
}
.event-week-inner img {
  width: 100%;
}
.event-week-inner .owl-item {
  position: relative;
  width: auto !important;
  height: 300px;
}
.event-week-inner .owl-item .item {
  width: 61px;
  height: 300px;
}
.event-week-inner .day {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.event-week-inner .day.mon::before {
  content: "월";
}
.event-week-inner .day.tue::before {
  content: "화";
}
.event-week-inner .day.wed::before {
  content: "수";
}
.event-week-inner .day.thu::before {
  content: "목";
}
.event-week-inner .day.fri::before {
  content: "금";
}
.event-week-inner .day.sat::before {
  content: "토";
}
.event-week-inner .event-on .day {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #0078ff;
}
.event-week-inner .owl-item .event-on {
  width: 300px;
  height: 300px;
}
.event-week-inner .owl-item .event-on .img-wrap {
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 20px 0 rgba(0, 120, 255, 0.4);
  border: solid 5px #0078ff;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}
.event-week-inner .event-win {
  width: 122px;
  box-shadow: 0px 4px 10px 0 rgb(0 0 0 / 5%);
}
.event-week-inner .event-win .img-wrap {
  background-color: #fff;
}
.event-week-inner .text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.event-week-inner .text span {
  font-size: 16px;
  font-weight: 600;
  color: #969696;
}
.event-week-inner .text span.person {
  font-size: 26px;
  color: #3c3c3c;
  display: block;
}
.event-week-inner .text span.person strong {
  font-size: 46px;
}
.event-week-inner .event-low {
  width: 122px;
  box-shadow: 0px 4px 10px 0 rgb(0 0 0 / 5%);
}
.event-week-inner .event-low .img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.t-center {
  text-align: center;
}

/*버튼*/
.crl_list {
  overflow: hidden;
}
.crl_list .hot_btn_01,
.crl_list .hot_btn_02 {
  float: left;
  width: 50%;
}
.crl_list.mb .hot_btn_01,
.crl_list.mb .hot_btn_02 {
  width: 100%;
}
.crl_list .hot_btn_01 a,
.crl_list .hot_btn_02 a {
  padding: 0;
  display: block;
  height: 75px;
  line-height: 75px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.crl_list .hot_btn_01 a {
  background-color: #e6e6e6;
  color: #787878;
  border: 2px solid #e6e6e6;
}
.crl_list .hot_btn_02 a {
  background-color: #0078ff;
  border: 2px solid #0078ff;
}

/*시간*/
.timeline {
  margin-right: 3px;
  display: flex;
  font-size: 20px;
  color: #3c3c3c;
}
.timeline .d_day {
  margin-right: 7px;
  font-weight: bold;
  color: #0078ff;
}
.timeline span#end_hour,
.timeline span#end_min,
.timeline span#end_sec {
  margin: 0 6px;
}
.dt_dealArea {
  padding: 0;
  margin: 10px 0 0;
  background-color: #f0f0f0;
}
.dt_deal {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.timedel {
  margin-right: 15px;
  display: flex;
  align-items: center;
  color: #3c3c3c;
  font-size: 15px;
  font-weight: bold;
}
.timedel:before {
  background: url(/img/event/event-2-clockicon@3x.png) no-repeat;
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
  margin-right: 4px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

/* popup 스타일 : s */
.btn_area li {
  float: left;
  width: 25%;
}
.btn_area li:first-child {
  padding-left: 0;
}
.btn_area li:last-child {
  width: 75%;
  padding-left: 5px;
}
.btn_area button {
  width: 100%;
  font-weight: normal;
  height: 50px;
}
.btn_area .btn_type {
  background: #0078ff;
  border-color: #0078ff;
  color: #fff;
}

.popup_top {
  position: relative;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background-color: #0078ff !important;
}
.btn_default_line.btn_default_orange {
  background: #0078ff;
}
/* popup 스타일: e */

/* -----------------------------------------202107 수정 :e ---------------------------------------*/
