@charset "UTF-8";
/* 202107 수정 :s */

/*이벤트*/
/*진행중 이벤트 리스트*/
.evnet_list_con {
  margin-top: 60px;
}
.evnet_list_con ul li {
  border: 1px solid #e2e2e2;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
.evnet_list_con ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.evnet_list_con ul li figure {
  display: inline-block;
  float: left;
}

.evnet_list_con ul li figure figcaption {
  padding-left: 30px;
  display: inline-block;
}
.evnet_list_con ul li div {
  display: inline-block;
  padding-left: 50px;
  margin-top: 5px;
}
.evnet_list_con ul li div span {
  background: #fd8e01;
  color: #fff;
  width: 60px;
  display: block;
  text-align: center;
  line-height: 25px;
}
.evnet_list_con ul li div h3 {
  color: #181818;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0 11px;
}
.evnet_list_con ul li div p {
  color: #7f7f7f;
  font-size: 14px;
}
/*진행중이벤트 뷰페이지*/
.event_view_con {
  text-align: center;
  padding: 0;
}
.event_view_con img {
  margin: 0;
  width: 100%;
}
.event-week {
  margin: 50px 0 50px 30px;
}

.event-week-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.owl-carousel .owl-stage{
  display: flex;
  margin-right: 30px;
}
.owl-carousel .owl-stage-outer{
overflow: visible;
}
.owl-nav{
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.owl-nav button{
  width: 60px;
  height: 60px;
  background-color: rgba(0,0,0,0.4) !important;
}
.owl-nav button span{
  color: #fff;
}
.owl-nav button.owl-prev{
  left: 0;
  margin-right: auto;
  display: block;
}
.owl-nav button.owl-next{
  right: 0;
  margin-left: auto;
  margin-right: 30px;
  display: block;
}
.event-week-inner img {
  width: 100%;
}
.event-week-inner .owl-item {
  position: relative;
  width: auto !important;
  height: 300px;
}
.event-week-inner .owl-item .item{
  width: 122px;
  height: 300px;
}
.event-week-inner .day {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.event-week-inner .day.mon::before {
  content: "월";
}
.event-week-inner .day.tue::before {
  content: "화";
}
.event-week-inner .day.wed::before {
  content: "수";
}
.event-week-inner .day.thu::before {
  content: "목";
}
.event-week-inner .day.fri::before {
  content: "금";
}
.event-week-inner .day.sat::before {
  content: "토";
}
.event-week-inner .event-on .day {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #f55217;
}
.event-week-inner .owl-item .event-on{
  width: 300px;
  height: 300px;
}
.event-week-inner .owl-item .event-on .img-wrap {
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 20px 0 rgba(245, 82, 23, 0.4);
  border: solid 5px #f55217;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}
.event-week-inner .event-win {
  width: 122px;
  box-shadow: 0px 4px 10px 0 rgb(0 0 0 / 5%);
}
.event-week-inner .event-win .img-wrap {
  background-color: #fff;
}
.event-week-inner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.event-week-inner .text span {
  font-size: 14px;
  font-weight: 600;
  color: #969696;
}
.event-week-inner .text span.person {
  font-size: 26px;
  color: #3c3c3c;
}
.event-week-inner .text span.person strong {
  font-size: 46px;
}
.event-week-inner .event-low {
  width: 122px;
  box-shadow: 0px 4px 10px 0 rgb(0 0 0 / 5%);
}
.event-week-inner .event-low .img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.t-center {
  text-align: center;
}

/*버튼*/
.crl_list {
  overflow: hidden;
}
.crl_list .hot_btn_01,
.crl_list .hot_btn_02 {
  float: left;
  width: 50%;
}
.crl_list.mb .hot_btn_01,
  .crl_list.mb .hot_btn_02 {
    width: 100%;
  }
.crl_list .hot_btn_01 a,
.crl_list .hot_btn_02 a {
  display: block;
  padding: 53px 0;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.crl_list .hot_btn_01 a {
  background-color: #e6e6e6;
  color: #787878;
  border: 2px solid #e6e6e6;
}
.crl_list .hot_btn_02 a {
  background-color: #f55217;
  border: 2px solid #f55217;
}

/*시간*/
.timeline {
  margin-right: 6px;
  display: flex;
  font-size: 40px;
  color: #3c3c3c;
}
.timeline .d_day {
  margin-right: 31px;
  font-weight: bold;
  color: #f55217;
}
.timeline span#end_hour,
.timeline span#end_min,
.timeline span#end_sec {
  margin: 0 6px;
}
.dt_dealArea {
  padding: 0;
  margin: 20px 0 0;
  background-color: #f0f0f0;
}
.dt_deal {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
}
.timedel {
  margin-right: 31px;
  display: flex;
  align-items: center;
  color: #3c3c3c;
  font-size: 30px;
  font-weight: bold;
}
.timedel:before {
  background: url(/img/event/event-2-clockicon@3x.png) no-repeat;
  background-size: 56px 56px;
  width: 56px;
  height: 56px;
  margin-right: 9px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

/* popup : s */
.btn_area li {
  float: left;
  width: 25%;
}
.btn_area li:first-child {
  padding-left: 0;
}
.btn_area li:last-child {
  width: 75%;
  padding-left: 5px;
}
.btn_area button {
  width: 100%;
  font-weight: normal;
  height: 50px;
}
.btn_area .btn_type {
  background: #f55217;
  border-color: #f55217;
  color: #fff;
}

.popup_top {
  position: relative;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background-color: #f55217 !important;
}
.btn_default_line.btn_default_orange {
  background: #f55217;
}
/* popup : e */
@media screen and (max-width: 768px) {
  .layout_wrap {
    position: relative;
    width: 100% !important;
    margin: 0 auto;
  }
  .event_view_con{
       width: 100% !important;
  }
  
}

/* 202107 수정 :e */
