
/* 팝업 */

.pop_mask2 {display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index:3; }

.popup_info_wrap {
	margin:0 auto;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-300px;
	z-index:1;
	width:100%;	
}

.popup_info_wrap .popinbox {
	border:1px solid #444;
	width:720px;
	max-height:650px;
	min-height:600px;
	overflow:auto;
	margin:0 auto;
	background-color:#FFF;
}

.popup_info_wrap .popinbox .dataWrap {width:640px;margin:35px auto 20px;border-top:1px solid #919baa;text-align:left;padding-top:10px;}
.popup_info_wrap .popinbox .dataWrap2 {width:640px;margin:20px auto 20px;border-top:1px solid #919baa;text-align:left;}
.popup_info_wrap .popinbox .dataWrap_com {width:640px;margin:20px auto 20px;text-align:left;}


.dataWrap .tit_info1,.dataWrap2 .tit_info1,.dataWrap_com .tit_info1{margin-top:20px;padding:0 0 10px 23px;font-size:16px;color:#2f3743;text-align:left;background:url("/img/sub/bull_info1.gif") no-repeat 0 3px;font-weight:bold}
.dataWrap .tit_info2,.dataWrap2 .tit_info2,.dataWrap_com .tit_info2{margin:15px 0 3px;padding:0 0 0 12px;background:url("/img/sub/bull_info2.gif") no-repeat 0 5px;color:#3d7cca;font-weight:bold;font-size:14px;}
.dataWrap .info2,.dataWrap2 .info2, .dataWrap_com .info2{padding:0 0 0 19px;background:url("/img/sub/bull_char_i2.gif") no-repeat 0 3px;font-weight:normal;margin:5px 0 0 0;}
.dataWrap .tit_info2 ul,.dataWrap_com .tit_info2 ul{padding-top:5px;}
.dataWrap .tit_info2 li,.dataWrap_com .tit_info2 li{color:#333;}


.dataWrap ul{margin-left:10px;}
.dataWrap li{padding-bottom:7px;letter-spacing:-0.5px;padding-left:10px;}
.dataWrap li:before {content:"";display:inline-block;width:3px;height:3px;background:#000;margin:0 7px 3px -15px;vertical-align:middle;}
.dataWrap li:last-child:{padding-bottom:0;}

.popup_top_wrap {width:720px;margin:0 auto;}
.popup_top {width:720px;position:relative;padding:0 30px;height:70px;line-height:70px;background-color:#3d7cca;}
.popup_top {width:720px;position:relative;padding:0 30px;height:70px;line-height:70px;background-color:#3d7cca;}

.popup_top .title {
	font-size:18px;
	color:#fff;
	font-weight:bold;
	padding-left:0;
}
.popup_top .close {
	position:absolute;
	right:25px;
	top:5px;
}




.popup_tbl_type {border-top:2px solid #666;margin:30px auto 0;width:100%;}
.popup_tbl_type th {padding:7px 15px;font-size:13px;color:#333;text-align:left;background-color:#ececec;border-bottom:1px solid #ccd3d9;border-right:1px solid #ccd3d9;}
.popup_tbl_type th:first-child {border-left:1px solid #ccd3d9;}
.popup_tbl_type td:first-child {border-left:1px solid #ccd3d9;}
.popup_tbl_type td {padding:10px 20px;font-size:13px;border-bottom:1px solid #ccd3d9;border-right:1px solid #ccd3d9;text-align:center}
.popup_tbl_type td span{padding-top:7px;display:block}

.pop_intxt{padding:10px 0 0 30px;}

th {vertical-align:middle}

.agree_wrap{width:580px;margin:0 auto;padding:0}/*수정 180802 */
.agree_wrap .intit{font-weight:bold}
.agree_box{overflow:auto;height:117px;padding:15px;margin-bottom:20px;font-size:13px;line-height:24px;background:#fff;border:1px solid #ddd;border-top:1px solid #999;color:#666;-webkit-overflow-scrolling: touch;margin-top:10px;}
.agree_box li{padding:0 0 10px 20px;}
.agree_box li:last-child{padding-bottom:0px;}

/*추가 180802:S */
.nhcard_agree > li{padding:0 0 10px 0;}
.nhcard_agree > li:before{background:none;margin:-2px;}
.nhcard_agree > li.bold_a strong{color:#006bd9}
.nhcard_agree > li.bold_a .color_red{color:#de2121}
.nhcard_agree > li.bold_b strong{color:#333}
.nhcard_agree > li.bold_b > ul > li:last-child{color:#006bd9;font-weight:bold}
.nhcard_agree .agree_btm{display:block;padding:20px 0 0 0}
/*추가 180802:E */

.chk_box{text-align:left;padding-bottom:30px;}/*수정 180802 */


/*추가 181204:S */
/* 팝업 */
.popup_event_wrap {position:absolute;right:0;top:0;z-index:500;width:372px;}
.popup_event_wrap .popinbox {border:1px solid #333}
.popup_event_wrap .popinbox img{vertical-align:top;}

.popBtm_wrap { height: 29px; overflow: hidden; padding: 7px 20px 0 12px; background-color: #333;}
.popBtm_wrap button { float: right; font-size: 14px; color: 0; line-height: 15px; color:#fff;overflow:visible;display: inline-block; text-align: center;}
.popBtm_wrap .checkbox_popup { float: left; }
.checkbox_popup { line-height: 15px; position: relative; display: inline-block; height: 15px; padding-left: 25px; vertical-align: baseline;}
.checkbox_popup input { display: block; width: 15px; height: 15px; position: absolute; top: 0; left: 0; z-index: 1;}
.checkbox_popup label { font-size: 14px; line-height: 15px; display: inline-block; color: #fff; }
/*추가 181204:E */

.btn_radius_black {
	display:inline-block;
	width:102px;
	height:36px;
	font-size:14px;
	color:#fff;
	background-color:#2b333b;
	letter-spacing:-1px;
	border-radius:2px;
	font-family:malgun gothic;
	border:0

}


/* 팝업 추가 */

.nh_popup_wrap {position:absolute;left:0;top:120px;z-index:500;width:100%;}
.nh_popup_wrap .inbox {margin:0 20px;width:500px;}
.popup_top {position:relative;padding:0 20px;height:50px;line-height:50px;background-color:#2447a9;}
.popup_top .title {font-size:20px;color:#fff;font-weight:bold;}
.popup_top .close {position:absolute;right:20px;top:15px;}

.popup_contents {padding:30px 20px;background-color:#FFF;}
.popup_contents .sub_txt {padding-left:12px;font-size:16px;color:#333;font-weight:bold;background:url("../images/blt_blue.gif") left 9px no-repeat;}

.popup_terms_wrap {	margin-top:15px;overflow:auto;border:1px solid #dcdcdc;font-size:12px;}
.popup_terms {width:100%;height:96px;}
.popup_agree_check {margin-top:-1px;padding:8px 10px;border:1px solid #dcdcdc;background-color:#f0f1f2;}
.popup_agree_check label {vertical-align:middle;margin-left:7px;}

.popup_agree_check input.check_box[type="checkbox"] {
	-webkit-appearance:none;
	width:14px;
	height:14px;
	line-height:14px;
	background-color:#FFF;
	border:1px solid #d7d7d7;
}

.popup_agree_check input.check_box[type="checkbox"]:checked {
	width:14px;
	height:14px;
	line-height:14px;
	background:#fff url('/img/common/ico_check_on.gif') center center no-repeat;
	background-size:11px 11px;
}


/*추가200401*/
.nh_popup_wrap .inbox .con_img {background:#fff;padding:0 20px;}
.nh_popup_wrap .inbox .pt_01 {padding-top:6%} 
.nh_popup_wrap .inbox .pb_02 {padding-bottom:10%}
.nh_popup_wrap .inbox {margin:0 auto;}

.closeBtn{text-align:right;padding-bottom:13px;}
.closeBtn img{width:25px;}
.chkBox_close{color:#fff;text-align:right;padding-top:5px}